@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    transition: 500ms linear;
    background-color:#39a6e6;

}

.main{
    height: 100vh;
    background-color: #39a6e6;
    
}


.linked-list-type-btn-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linked-lst-btn{
    padding: 15px ;
    margin: 10vh 10vw 2vh 10vw;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 0px #352fb7;
    transition: 200ms linear;
}

.linked-lst-btn:focus{
    box-shadow: 0 0px 0px #352fb7;
}

.list-container{
    height: 100px;
    display: flex;
    place-items: center;
    overflow: auto;
    overflow-y: hidden; 
    margin-top: 0px;
    cursor: pointer;
    position: relative;
    top: 20px;
}


.list-container > div {
    height: 50px;
    width: 100px;
    background-color:#000080;
    flex: 0 0 auto;
    margin: 10px;
    border-radius: 7px;
    padding-top: 2px;
    padding-left: 3px;
    box-shadow: 0px 0px 200px #000000c4;
}

.list-container::-webkit-scrollbar {
    height: 3px;
}

.list-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #bbf0fda9;
    
  }


.addess-cont{
    height: 100px;
    display: flex;
    place-items: center;
    overflow: auto;
    overflow-y: hidden; 
    margin-top: -60px;
    cursor: pointer;
}

.addess-cont > span {
    height: 20px;
    width: 50px;
    flex: 0 0 auto;
    margin-left: 70px;
    border-radius: 7px;
    padding-top: 2px;
    padding-left: 3px;
    box-shadow: 0px 0px 200px #000000c4;
}


.addess-cont::-webkit-scrollbar {
    height: 0px;
}



.addess-cont::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #414141a6 ;
    
  }



.data-part, .link-part, .link-part1{
    display: inline-block;
    height: 45px;
    width: 45px;
    background-color: #87cefa;
    font-size: 25px;
    text-align: center;
    padding-top: 5px;
}

.data-part::-webkit-scrollbar {
    height: 2px;
}

.data-part::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #414141a6 ;
    
  }

.link-part{
    border-radius: 0px 5px 5px 0px;
    background-color: #faebd7;
    color: #ff7f50cc;
    margin-left: 4px;
    font-size: 20px;
    padding-top: 10px;
}

.link-part1{
    display: inline-block;
    height: 45px;
    width: 45px;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    border-radius: 5px 0 0 5px;
    margin-right: 4px;
    background-color: #faebd7;
    color: #ff7f50cc;
/* Code designed by Abhinav */
}


.operation-cont{
    margin-top: 60px;
    margin-left: 15vw;
    margin-right: 15vw;

    display: flex;
    flex-direction: row;
    justify-content: center;

}

.insert-operation-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgb(0, 0, 0);
    margin-right: 0vw;
    padding-bottom: 10px;
}

.del-operation-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgb(0, 0, 0);
    margin-left: 5vw;
    padding-bottom: 10px;

/* Code designed by Abhinav */
}

.insert-text, .del-text{
    position: relative;
    top: -12px;
    background-image: linear-gradient(-285deg, rgb(255, 255, 255), rgb(255, 255, 255));
    width: 70px;
    padding-left: 5px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: blue;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    text-shadow: 2px 2px 5px rgb(187, 187, 187);
}

.del-text{
    color: red;
}



.operation-btn{
    height: 40px;
    width: 39vw;
    margin: 10px 10px 10px 10px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-shadow: 2px 2px 5px rgb(187, 187, 187);
    outline: none;
}

.operation-btn:hover{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}



.active-op-btn{
    transition: 200ms linear;
    height: 160px;
}

.data-input{
    width: 36vw;
    cursor: auto;
    padding-left: 10px;
    font-weight: 500;
    text-shadow: 1px 1px 10px rgb(226, 226, 226);
    text-align: center;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #e6e6e6;

}

.data-input:hover{
    background-color: #ffffff;
    background-image: linear-gradient(62deg, #ffffff 0%, #ffffff 100%);
}

.data-input:focus{
    box-shadow: none;
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #ffffff 0%, #ffffff 100%);
    border: 2px solid black;
}

.data-input::placeholder{
    text-shadow: 1px 1px 10px rgb(226, 226, 226);
    font-size: 16px;
}

.insert-btn{
    cursor: pointer;
}

.input-container{
    margin-top: 5vh;
    margin-left: 20vw;
}

img{
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

#warning{
    height: 35px;
    width: 80vw;
    background-color: #d2691e00;
    margin-top: 5vh;
    margin-left: 12vw;
    border-radius: 5px;
    box-shadow: 0 0 3px darkslategrey;
    text-align: center;
    font-size: 20px;
    padding-top: 3px;
    overflow: auto;
    overflow-y: hidden;
    /* text-shadow: 0px 0px 10px darkseagreen; */
}

#head-text{
    position: relative;
    top: -88px;
    left: 10px;
    color: #add8e6;
    font-size: 17px;
}

.data-part-scroll::-webkit-scrollbar {
    height: 3px;
}

.data-part-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(68, 68, 68);
}


.ad-section{
    height: 50px;
    width: 90vw;
    background-color: #fff0f529;
    margin-top: 30px;
    margin-left: 5vw;
    font-size: 15px;
}

.ad-btns{
    margin-left: 4vw;
    margin-right: 3vw;
    padding: 7px;
    padding-left: 2vw;
    border-radius: 4px;
    border: none;
    margin-top: 1vh;
    cursor: pointer;
    font-weight: 500;
    background-color: #add8e69e;
    outline: none;
    box-shadow: 0 0 0 3.2px rgb(217 33 44 / 8%);
    transition: 200ms linear;
}

.ad-btns:hover{
    background-color: wheat;
}

.always-btn, .just-once-btn{
    margin: 10px 70px 0 60px;
    padding: 2px 5px 2px 5px;
    border: 1px solid grey;
    font-size: 15px;
    border-radius: 2px;
    background-color: #7fffd4;
    cursor: pointer;
}

.just-once-btn{
    margin: 0;
    background-color: #fffaf0;

}
.close-btn {
    margin-left: 155px;
    background-color: rgba(221, 140, 140, 0);
    text-decoration: underline;
    border: none;
    cursor: pointer;
    outline: none;
}

.ad-text {
    position: relative;
    top: 30px;
    text-align: center;

}

.copyright{
   width: 80vw;
   height: 10vw;
   position: absolute;
   top: 90vh;
}

.copy-p{
    font-size: 4vw;
    text-align: center;
    position: absolute;
    top: -1vw;
    left: 7vw;
}